<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliTrade</title>
    <link rel="icon" href="/icons/titleLogo.png" type="image/png">
    <link rel="stylesheet" href="/stylesheet.css" />
</head>

<body class="standardBody" style="background-color: black;">
    <div>
    <h1 class="landingHeader">
        <div class="landingTitleGroup">
            <div class="landingTitle">IntelliTrade</div>
            <div class="landingButtonsGroup">
                <a href="/login">
                    <button class="landingButton">LOG IN</button>
                </a>
                <a href="/signup">
                    <button class="landingButton">SIGN UP</button>
                </a>
            </div>
        </div>

        <div class="landingCaption">
            In the ever-evolving landscape of finance, <br>
            every decision counts. We stand at a crossroad, <br>
            a moment where every calculated risks <br>
            can yield substantial rewards in lifetime
        </div>

        <div>
            <div class="aboutButton">
                About us
            </div>
            <div class="landingCaption" style="background-color: transparent; font-size: 13px; font-weight: 100; line-height: 35px;">
                We Provide Private Stock Broker Services <br>
                Time Is Of The Essence
            </div>
        </div>
    </h1>

    <div>
        <video class="landingVideo" autoplay loop>
            <source src="/assets/landingPage.MP4" type="video/mp4">
        </video>
    </div>
</body>

</html>