<div id="overlayAdd" class="overlay">
	<div class="overlay-content">
		<h1 style="margin-top: 10px; font-size: 20px;">CREATE NEW USER</h1>
		<form action="/admin/userManage/add" method="post">

			<div class="errorAlignForm" style=" margin-top: 15px;">
				<label for="email">Email:</label>
				<p class="errorMessageForm">
					<%= errors.email %>
				</p>
			</div>
			<input type="text" id="email" name="email" style="padding-left: 20px; margin-top: 15px; border-radius:7px;">

			<div class="errorAlignForm" style="margin-top: 30px;">
				<label for="username">Username:</label>
				<p class="errorMessageForm">
					<%= errors.username %>
				</p>
			</div>
			<input type="text" id="username" name="username" style="padding-left: 20px; margin-top: 15px; border-radius:7px;">

			<div class="errorAlignForm" style="margin-top: 30px;">
				<label for="password">Password:</label>
				<p class="errorMessageForm">
					<%= errors.password %>
				</p>
			</div>
			<input type="password" step="0.01" id="password" name="password"
				style="padding-left: 20px; margin-top: 5px; border-radius:7px;">

			<label for="role" style="margin-top: 30px;">User Role:</label>
			<select name="role" id="role">
				<option value="user">user</option>
				<option value="broker">broker</option>
			</select>
			<div
				style="width: 100%; height: auto; justify-content: center; display: flex; padding-top: 10px; margin-top: 40px; gap: 10px;">
				<button type="submit" class="addButton" style="font-size: 14px; width: 180px">CREATE</button>
				<button type="button" class="cancelButton" style="font-size: 14px; width: 180px;"
					onclick="closeForm()">CANCEL</button>
			</div>
		</form>
	</div>
</div>
