<div id="alert" class="overlay">
    <div class="overlay-content">
        <h1 style="margin-top: 10px; font-size: 30px;">ACTION SUCCESS</h1>
        <div style="margin-top: 50px; margin-left: 20px; margin-right: 20px;">
            <h2 style="margin-bottom: 50px; font-size: 18px;"><%= notifMsg %></h2>
            <button type="button" class="addButton" style="font-size: 14px; width: 180px;"
                onclick="closeForm()">OK</button>
        </div>
    </div>
</div>